{%- if dev_mode %}*** rafo läuft im Entwicklungsmodus; dies ist also eine Testmail. ***{% endif %}

Hallo {{ recipient }},

es wurde am {{ upload.created_at.strftime("%d.%m.%Y") }} um {{ upload.created_at.strftime("%H:%M") }} von {{
uploader.name }} eine neue Sendung auf {{ site_url }} hochgeladen:

ID: u-{{ "%05d" % upload.row_id }}
FORMAT: {{ show.name }} (s-{{ "%03d" % show.row_id }})
PRODUZENT:IN: {{ uploader.name }} (p-{{ "%03d" % uploader.row_id }})
SENDEDATUM: {{ upload.planned_broadcast_at.strftime("%d.%m.%Y %H:%M") }}
TITEL: {{ upload.name }}
ÖFFENTLICHE BESCHREIBUNG: {{ upload.description }}
{%- if upload.comment_uploader %}KOMMENTAR AN ALEX: {{ upload.comment_uploader }}{% endif %}
{%- if legacy_url_used %}URL: Legacy URL wurde benutzt{% endif %}

{% if is_supervisor_message %}
Du erhälst diese Nachricht, da du als Betreuungsperson für das Format »{{ show.name }}« eingetragen bist.
Bei Fragen melde dich bitte bei der Sendeabwicklung ({{ contact_mail }}).
{% endif %}

Es grüßt,
rafo, {{ version }}