<html>

<head></head>

<body>
    <p><i>{%- if dev_mode %}rafo läuft im Entwicklungsmodus; dies ist also eine Testmail.{% endif %}</i></p>

    <p>Hallo {{ supervisor.name }},</p>

    <p>es wurde am {{ episode.created_at.strftime("%d.%m.%Y") }} um {{ episode.created_at.strftime("%H:%M") }} von {{
        producer.name }} eine neue Sendung auf {{ site_url }} hochgeladen:</p>

    <ul>
        <li><b>ID:</b> e-{{ "%05d" % episode.row_id }}</li>
        <li><b>Format:</b> {{ show.name }} (s-{{ "%03d" % show.row_id }})</li>
        <li><b>Produzent:in:</b> {{ producer.name }} (p-{{ "%03d" % producer.row_id }})</li>
        <li><b>Sendedatum:</b> {{ episode.planned_broadcast_at.strftime("%d.%m.%Y %H:%M") }}</li>
        <li><b>Titel:</b> {{ episode.name }}</li>
        <li><b>Öffentliche Beschreibung:</b> {{ episode.description }}</li>
        {%- if episode.comment_producer %}<li><b>Kommentar an ALEX:</b> {{ episode.comment_producer }}</li>{% endif %}
    </ul>

    <p>
        Du erhälst diese Nachricht, da du als Betreuungsperson für das Format »{{ show.name }}« eingetragen bist.
        Fragen melde dich bitte bei der Sendeabwicklung.
    </p>

    <p>
        Es grüßt,<br>
        rafo
    </p>
</body>

</html>