<html>

<head></head>

<body>
    <p><i>{%- if dev_mode %}rafo läuft im Entwicklungsmodus; dies ist also eine Testmail.{% endif %}</i></p>

    <p>Hallo Sendeabwicklung,</p>

    <p>Es wurde am {{ episode.created_at.strftime("%d.%m.%Y") }} um {{ episode.created_at.strftime("%H:%M") }} von {{
        producer.first_name }} {{ producer.last_name }} eine neue Sendung auf {{ site_url }} hochgeladen:</p>

    <p>
        <b>ID:</b> e-{{ "%05d" % episode.noco_id }}<br>
        <b>Format:</b> {{ show.name }} (s-{{ "%03d" % show.noco_id }})<br>
        <b>Poduzentt:in:</b> {{ producer.first_name }} {{ producer.last_name }} (p-{{ "%03d" % producer.noco_id }})<br>
        <b>Sendedatum:</b> {{ episode.planned_broadcast_at.strftime("%d.%m.%Y %H:%M") }}<br>
        <b>Titel:</b> {{ episode.title }}<br>
        <b>Beschreibung:</b> {{ episode.description }}
        {%- if episode.comment_producer %}<br><b>Kommentar:</b> {{ episode.comment_producer }}{% endif %}
    </p>

    <p>
        Es grüßt,<br>
        rafo
    </p>
</body>

</html>