{%- if dev_mode %}***rafo läuft im Entwicklungsmodus; dies ist also eine Testmail.***{% endif %}

{% if legacy_url_used %}
ACHTUNG: DEINE URL IST NICHT MEHR AKTUELL!

Im Zuge eines umfassenden Updates unseres Datenbackends wird die von dir verwendete URL ab dem {{
legacy_url_grace_date }} nicht mehr funktionieren. Bitte nutze <b>ab jetzt</b> folgende URL:

{{ upload_url }}

Der neue Link ist ab sofort in Betrieb. Aktualisiere deine Bookmarks und nutze die neue URL. Ab dem {{
legacy_url_grace_date }} wird es nicht mehr möglich sein, über den alten Link auf den Upload zuzugreifen.
{% endif %}


Hallo {{ uploader.name }},

wir haben den Upload deiner {{ show.colloquial_inline_medium_name() }} erhalten. Vielen Dank! Hier nochmals eine
Zusammenfassung:

ID: u-{{ "%05d" % upload.row_id }}
FORMAT: {{ show.name }}
PRODUZENT:IN: {{ uploader.name }}
SENDEDATUM: {{ upload.planned_broadcast_at.strftime("%d.%m.%Y %H:%M") }}
TITEL: {{ upload.name }}
ÖFFENTLICHE BESCHREIBUNG: {{ upload.description }}
{%- if upload.comment_producer %}KOMMENTAR AN ALEX: {{ upload.comment_producer }}{% endif %}

Bitte melde dich bei Fragen bei {{ contact_mail }}.


Liebe Grüße,
Die Sendeabwicklung von ALEX Berlin