<html>

<head></head>

<body>
    <p><i>{%- if dev_mode %}***rafo läuft im Entwicklungsmodus; dies ist also eine Testmail.***{% endif %}</i></p>

    {% if legacy_url_used %}
    <div style="border: 2px solid red; padding: 5px; width: fit-content;">
        <p><b>Achtung: Deine URL ist nicht mehr aktuell!</b></p>
        <p>
            Im Zuge eines umfassenden Updates unseres Datenbackends wird die von dir verwendete URL ab dem {{
            legacy_url_grace_date }} nicht mehr funktionieren. Bitte nutze <b>ab jetzt</b> folgende URL:
        </p>
        <p><a href="{{ upload_url }}">{{ upload_url }}</a></p>
        <p>
            Der neue Link ist ab sofort in Betrieb. Aktualisiere deine Bookmarks und nutze die neue
            URL. Ab dem {{ legacy_url_grace_date }} wird es nicht mehr möglich sein, über den alten Link
            auf den Upload zuzugreifen. </p>
    </div>
    {% endif %}

    <p>Hallo {{ uploader.name }},</p>

    <p>wir haben den Upload deiner {{ show.colloquial_inline_medium_name() }} erhalten. Vielen Dank! Hier nochmals eine
        Zusammenfassung:</p>

    <ul>
        <li><b>ID:</b> u-{{ "%05d" % upload.row_id }}</li>
        <li><b>Format:</b> {{ show.name }} (s-{{ "%03d" % show.row_id }})</li>
        <li><b>Produzent:in:</b> {{ uploader.name }} (p-{{ "%03d" % uploader.row_id }})</li>
        <li><b>Sendedatum:</b> {{ upload.broadcast_with_time_zone.strftime("%d.%m.%Y %H:%M") }}</li>
        <li><b>Titel:</b> {{ upload.name }}</li>
        <li><b>Öffentliche Beschreibung:</b> {{ upload.description }}</li>
        {%- if upload.comment_producer %}<li><b>Kommentar an ALEX:</b> {{ upload.comment_producer }}</li>{% endif %}
    </ul>

    <p>Bitte melde dich bei Fragen bei <a href="mailto:{{ contact_mail }}">{{ contact_mail }}</a>.</p>

    <p>
        Liebe Grüße,<br>
        Die Sendeabwicklung von ALEX Berlin
    </p>
</body>

</html>