Hallo {{ producer.name }},

Anbei findest du deinen persönlichen Uploadlink:

{{ producer.upload_url() }}

Mit diesem Link kannst du in Zukunft deine Radiosendungen an ALEX Berlin senden. Bitte behandle diesen Link vertraulich. Alle Personen, welche im Besitz des Links sind, können in deinem Namen Sendungen hochladen.

Liebe Grüße,
Die ALEX Berlin Sendeabwicklung


-----------------------------------------
ALEX Berlin
TV ∙ Radio ∙ Online
-----------------------------------------

Radio Upload (Version {{ version }})
Sendeabwicklung

Rudolfstr. 1-8 (Eingang Ehrenbergstr.)
10245 Berlin

+49 30 464 005 26
+49 30 464 005 98

Sendeabwicklung@alex-berlin.de

alex-berlin.de

facebook.com/alexberlinde
twitter.com/alex_berlin_de
instagram.com/alex_berlin_de
youtube.com/alexberlintv