<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ALEX Upload</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#88e5ff">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#88e5ff">
    <meta name="msapplication-config" content="/static/img/browserconfig.xml">
    <meta name="theme-color" content="#88e5ff">

    <link href="/static/css/bulma.min.css" rel="stylesheet">
    <link href="/static/css/fontawesome.min.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/static/img/logo-text.svg" width="180" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/help">
                    <i class="fa-regular fa-circle-question mx-1"></i> Hilfe
                </a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container mt-6">
            <div class="columns is-mobile">
                <div class="column"></div>
                <div class="column is-10-tablet is-11-mobile">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="column"></div>
            </div>
        </div>
    </main>
</body>
{% block script_footer %}
{% endblock %}