{% extends "base.html.jinja2" %}
{% block content %}
<section>
    <h1 class="title is-1">Hilfe</h1>
    <p>Wir haben dir hier die wichtigsten Informationen rund um unser neues Uploadportal für Radiosendungen zusammengetragen.</p>

    <h2 class="title is-3 mt-5">Persönlicher Link</h2>
    <p>Willkommen beim Upload-Portal von <a href="https://alex-berlin.de">ALEX Berlin</a>. Für den Upload benötigst du
        deinen persönlichen Link.</p>
        nicht beantwortet werden, melde dich bitte bei TODO.</p>
</section>
{% endblock %}