{% extends "base.html.jinja2" %}
{% block content %}
<section>
    <h1 class="title is-1">ALEX Berlin Audio Upload</h1>
    <p>Willkommen beim Upload-Portal von <a href="https://alex-berlin.de">ALEX Berlin</a>. Für den Upload benötigst du
        deinen persönlichen Link.</p>
    <p>Bei Fragen lies bitte zunächst die <a href="/help">Hilfeseite</a> aufmerksam durch, sollte deine Frage darin
        nicht beantwortet werden, melde dich bitte bei TODO.</p>
</section>
{% endblock %}